<section class="cartWep" *ngIf="desplay && cartEmpty">
  <div class="cartBox">
    <h1 class="text-danger">Shopping cart</h1>
    <div class="headCart">
      <p class="lead">
        item in cart : <label class="font-weight-bold text-danger">{{cartProducts.length}}</label>
      </p>
      <span class="text-capitalize" (click)="clearCart()">Clear cart</span>
    </div>

    <table class="table">
      <thead class="text-capitalize">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Price</th>
          <th style="width: 25%">Quantity</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartProducts; let index=index">
          <td><img src="{{item.item.image}}" alt="" routerLink="/details/{{item.item.id}}"/></td>
          <td routerLink="/details/{{item.item.id}}">{{item.item.title}}</td>
          <td>{{item.item.price}} L.E</td>
          <td>
            <div class="quantity">
              <button class="btn btn-dark" (click)="addAmount(index)">+</button>
              <input class="form-control" type="number" min="1" max="10"  ngModel="{{item.quantity}}" disabled/>
              <button class="btn btn-dark" (click)="minsAmount(index)">-</button>
            </div>
          </td>
          <td>{{item.item.price*item.quantity}}L.E</td>
          <td>
            <button class="btn btn-danger" (click)="Delete(index)">Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Total Quantity : {{totalQuantity}}</th>
          <th></th>
          <th></th>
          <th></th>
          <th>Total Price : {{total}} L.E</th>
          <th><button class="btn btn-success" routerLink="/location/{{total}}">Order Now</button></th>
        </tr>
      </tfoot>
    </table>
  </div>
 
</section>

<!-- screen cart to mobile -->

<section class="cartMobile" *ngIf="!desplay && cartEmpty">
  <div class="cartBoxMobile">
    <h1 class="text-danger">Shopping cart</h1>
    <!-- head -->
    <div class="headCart">
      <p class="lead">
        item in cart : <label class="font-weight-bold text-danger">{{cartProducts.length}}</label>
      </p>
      <span class="text-capitalize" (click)="clearCart()">Clear cart</span>
    </div>
    <!--end head  -->
    <!-- item -->
    <div class="item">
      <div class="product" *ngFor="let item of cartProducts let index=index">
        <div class="itq">
          <img src="{{item.item.image}}" alt=""  routerLink="/details/{{item.item.id}}"/>
          <p routerLink="/details/{{item.item.id}}">{{item.item.title}}</p>
          <span>{{item.item.price}}L.E</span>
        </div>
        <div class="pd ">
          <div class="quantity m-auto">
            <button class="btn btn-dark" (click)="addAmount(index)">+</button>
            <input class="form-control" type="number" min="1" max="10" ngModel="{{item.quantity}}" disabled/>
            <button class="btn btn-dark" (click)="minsAmount(index)">-</button>
          </div>

          <span class="m-auto">Total :{{item.item.price*item.quantity}} L.E</span>
          <button class="btn btn-danger m-1" (click)="Delete(index)">Delete</button>
        </div>
      </div>
    </div>
    <!-- end item -->
    <!-- fotter -->
    <footer>
      <h6>Total Quantity :{{totalQuantity}} </h6>
      <h6>Total :{{total}} L.E</h6>
      <button class="btn btn-success " routerLink="/location/{{total}}">Order Now</button>
    </footer>
  </div>
  <!-- message  -->
 
</section>

<div class="empty" *ngIf="!cartEmpty">
  <img src="assets/images/emptyCart.png" alt="Your Cart is Embty!" title="Your Cart is Embty!" >
 <h4>Your Cart is <span class="btn btn-danger">Embty!</span></h4>
 <p>Must add items on the cart before you proceed to check out !</p>
<button class="btn btn-outline-success" routerLink="/products">go to Shopping</button>
</div>