nav {
  background: linear-gradient(to right, #950b0b, #440606);
  color: #fff;
  sub {
    color: #fd7d;
  }
  .container {
    padding: 5px;
    @media (min-width: 1200px) {
      & {
        font-size: 1.2rem;
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      ul {
        @media (max-width: 995px) {
          & {
            display: none;
          }
        }
        display: flex;
        justify-content: space-between;
        width: 20%;
        list-style: none;
        li {
          text-decoration: none;
          cursor: pointer;
          &:hover {
            background-color: rgba($color: #000000, $alpha: 0.5);
            padding: 5px;
          }
          &:active {
            background-color: #fd7d;
          }
          a {
            text-decoration: none;
            background-color: transparent;
            color: inherit;
          }
        }
      }

      .mobile {
        @media (min-width: 995px) {
          & {
            display: none;
          }
        }
        label {
          font-size: 1.5rem;
          &:active {
            background-color: #fd7d;
            padding: 10px;
          }
        }
       /* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 25px;
  cursor: pointer;
  background-color: inherit;
  color: white;
  
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 0 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
      }
    }
  }
}
