<nav>
  <div class="container">
    <div class="content">
      <h2 routerLink="/products">M<sub>a</sub>rk<sub>e</sub>t</h2>
      <!--  laptop -->
      <ul>
        <li routerLink="/products">products</li>
        <li routerLink="/cart">cart</li>
        <li>
          <a
            href="https://wa.me/+201020842062/?text={{ message }}"
            target="_blank"
            >Call Us</a
          >
        </li>
      </ul>
      <!-- mobile -->
      <div class="mobile">
        <button id="main" class="openbtn" (click)="openNav()">&#9776;</button>
        <!-- slider -->
        <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
            >&times;</a
          >
          <a routerLink="/products" (click)="closeNav()">products</a>
          <a routerLink="/cart" (click)="closeNav()">cart</a>
          <a
            href="https://wa.me/+201020842062/?text={{ message }}"
            target="_blank"
            >Contact</a
          >
        </div>
      </div>
      <!-- end mobile -->
    </div>
  </div>
</nav>
