<mdb-carousel [controls]="true" [indicators]="true" *ngIf="desplay">
  <mdb-carousel-item>
    <img src="{{ item[index1].image }}" class="d-block w-50 m-auto" alt="..." width="300px" height="350px"/>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img src="{{ item[index2].image }}" class="d-block w-50 m-auto" alt="..." width="300px" height="350px"/>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img src="{{ item[index3].image }}" class="d-block w-50 m-auto" alt="..." width="300px" height="350px"/>
  </mdb-carousel-item>
</mdb-carousel>
