<section class="box mt-3">
  <!-- categories -->
  <div class="my-2 w-50">
    <!-- component to select category (sharedComponent) -->
    <app-select [data]="categories" [title]="'Categories'" (selectedValue)="filterCategorie($event)"></app-select>
  </div>
  <!-- iteams -->
  <div class="row mt-4" *ngIf="!loading">
    <div class="col-md-6 col-lg-4 col-xl-3 col-sm-12" *ngFor="let item of product" >
      <!-- component to singl card for item (products) -->
      <app-product [data]="item"  (item)="addToCart($event)" ></app-product>
    </div>
  </div>
  <div class="text-center w100 mt-5 pt-5" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
</section>
