<section class="box mt-3">
  <!-- categories -->
  <div class="my-2 w-50">
    <label for="">Categories :</label>
    <select class="form-control" (change)="filterCategorie($event)">
      <option value="All" selected>All</option>
      <option value="{{ cat }}" *ngFor="let cat of categories">
        {{ cat }}
      </option>
    </select>
  </div>
  <!-- iteams -->
  <div class="row mt-4" *ngIf="!loading">
    <div class="col-md-3 col-sm-12" *ngFor="let item of product">
      <div class="item">
        <img src="{{ item.image}}" alt="error " />
        <div class="body">
          <h4>{{ item.title}}</h4>
          <p>{{ item.description }}</p>
        </div>
        <div
          class="px-3 mb-2 d-flex justify-content-between aligin-items-center"
        >
          <button class="btn btn-success">Add to Cart</button>
          <span>{{ item.price }} L.E</span>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center w100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
</section>
