<section class="container">
  <div class="selectLocation m-5">
    <label for="location">Choose location:</label>
    <select
      class="form-control"
      name="location"
      (change)="selectKindLocation($event)"
    >
      <option selected>house or store</option>
      <option value="house">house</option>
      <option value="store">store</option>
    </select>
  </div>

  <div class="selecthouse m-5">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name" id="name" />
    <label for="phone">phone</label>
    <input class="form-control" type="tel" name="phone" id="phone" />
    <label for="address" *ngIf="desblay">address</label>
    <input
      class="form-control"
      type="text"
      name="address"
      id="address"
      *ngIf="desblay"
    />
    <label for="city" *ngIf="desblay">city</label>
    <input
      class="form-control"
      type="text"
      name="city"
      id="city"
      *ngIf="desblay"
    />
    <label for="district" *ngIf="desblay">district</label>
    <input
      class="form-control"
      type="text"
      name="district"
      id="district"
      *ngIf="desblay"
    />

    <input
      class="btn btn-outline-danger m-3"
      type="submit"
      value="Submit"
      (click)="getData()"
    />
  </div>
  <!--  -->
  <footer>
    <div class="alert alert-success" role="alert" *ngIf="willDone">
      <strong>well done!</strong> your order is successFull send
      <button  class="btn btn-outline-danger m-3" (click)="clearCart()"> Continue shopping 🛒🛒</button>
    </div>
    <h3 class="text-center">All Item</h3>
    <div *ngFor="let item of cartProducts">
      <figure class="text-center">
        <blockquote class="blockquote">
          <p>{{ item.item.title }}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          quantity: <cite title="Source Title">{{ item.quantity }}</cite>
        </figcaption>
      </figure>
    </div>
  </footer>

  <div class="spinner" *ngIf="spinner">
    <app-spinner></app-spinner>
  </div>
</section>
